<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-transparent  fixed-top border-bottom" >
  <div class="container">
    <a class="navbar-brand title text-light  title" routerLink="">GAMELLERY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link text-light navitem" routerLink="/home" >HOME </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-light navitem" routerLink="/game">GAMES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light navitem" routerLink="/about">ABOUT</a>
        </li>

        </ul>
    </div>



  </div>
</nav>
</div>
