.mainImage{
  background-color:rgb(17, 17, 17);
  height:700px;

}
 .carousel {
  background-color:rgb(17, 17, 17);
  height:100vh;

}

.carouselContainer{
  background-size: cover;
  /* width:800px;
  height:540px; */
  align-items: center;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}
.my-row2{
  height:90px;
/*   background-color:rgb(17, 17, 17); */
}
.carouselimage{

  border-radius: 6px;
  border-color: rgb(235, 246, 255) ;

}
.banner{
  /* width: 80%;
  height:70%;
  top:25%;
  left: 70px; */
  position: absolute;
  color: #fff;
  border-right: rgb(255, 255, 255);
  font-family: cursive;
  font-size: 38px;
  font-style: italic;
}
/* .banner2{
  width: 80%;
  height:70%;
  top:30%;
  left: 90px;
  position: absolute;
  color: #fff;
  border-right: rgb(255, 255, 255);
  font-family: cursive;
  font-size: 52px;
  font-style: italic;

} */

 .carousel-item{

  height: 100%;
  width: 100%;


  min-height: 300px;
  background: no-repeat center center scroll;

  background-size: cover;
  background: rgb(17, 17, 17);
  border-radius: 14px;
}
@media (max-width: 900px) {

  .carousel-item{
    height: 220%;
    width: 220%;

    top:80px;
    left: -220px;
    right: 0;



  }

}
.carousel-caption {
  bottom: inherit;
}

.background{
  background: rgb(17, 17, 17);
  display: flex;

} */

.cardspace{
  margin: 20px;
  background: rgb(17, 17, 17);
}

.my-row{
  height: 1080px;

}
