<div class="container-fluid">
  <div class="row-1">HII</div>  <!-- Transparent for the navbar -->
  <div class="row-2">IIIIAAA</div>  <!-- foto guay -->
  <div class="row-3">
    <div class="col-md-3"><app-GameCard></app-GameCard></div>
    <div class="col-md-3 column" > <app-GameCard></app-GameCard></div>
      <app-GameCard></app-GameCard>
      <app-GameCard></app-GameCard>
      <app-GameCard></app-GameCard>
      <app-GameCard></app-GameCard>
      <app-GameCard></app-GameCard>
  </div>

</div>

